beautifulsoup4
camelot-py
chardet
click
fastapi
fastapi-cli
langchain
langchain-core
langchain-text-splitters
markdown-it-py
markdownify
MarkupSafe
mpmath
multidict
numpy
pandas
pdfminer.six
pillow
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
pypdf
pypdfium2
python-dateutil
python-multipart
regex
requests
requests-toolbelt
safetensors
sentence-transformers
tiktoken
tokenizers
transformers
typer
tzdata
uritools
urlextract
urllib3
uv
uvicorn
websockets
wrapt
