aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
camelot-py
certifi
cffi
chardet
click
colorama
contourpy
cryptography
cycler
dataclasses-json
Deprecated
deprecation
dnspython
docker
email_validator
fastapi
fastapi-cli
filelock
fonttools
frozenlist
fsspec
greenlet
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
idna
img2pdf
Jinja2
joblib
jsonpatch
jsonpointer
kiwisolve
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lxml
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
multidict
mypy-extensions
networkx
numpy
ocrmypdf
opencv-python
opencv-python-headless
openpyxl
orjson
packaging
pandas
pdfminer.six
pi_heif
pikepdf
pillow
platformdirs
pluggy
propcache
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
pypdfium2
python-dateutil
python-dotenv
python-multipart
pytz
pywin32
PyYAML
regex
requests
requests-toolbelt
rich
rich-toolkit
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
uritools
urlextract
urllib3
uv
uvicorn
watchfiles
websockets
wrapt
yarl
yt-dlp
zstandard
