annotated-types
attrs
beautifulsoup4
camelot-py
chardet
click
fastapi
fastapi-cli
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lxml
markdown-it-py
markdownify
MarkupSafe
mpmath
multidict
numpy
pandas
pdfminer.six
pillow
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
pypdfium2
python-dateutil
python-dotenv
python-multipart
regex
requests
requests-toolbelt
safetensors
sentence-transformers
tiktoken
tokenizers
tqdm
transformers
typer
tzdata
uritools
urlextract
urllib3
uv
uvicorn
websockets
wrapt
